@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans'
}

/* Utility Class */
.container{
    max-width: 110px;
    margin: auto;
    overflow: hidden;
}

.l-heading{
    font-size: 3rem;
}
/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top:0;
    background-color: #333;
    color: #f4f4f4;
    justify-content: space-between;
    z-index: 1;
}

#navbar h2{
    padding: 1.7rem;
    
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

#navbar ul li a:hover{
   border-bottom: 3px solid #f4f4f4;
}

/* Section */
#showcase{
    background: #333 url('../img/city1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

#showcase .showcase-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
color: white;
padding: 0 2rem;

/* Overlay */
position: absolute;
top: 83px;
left: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.4)

}


/* Expertise */

#expertise{
   background-color: rgb(87, 84, 84);
}

.items{
    display: flex;
    justify-content: space-around;
}

.items .item{
    flex: 1;
    padding: 1rem;
    text-align: center;
    
}

.items .item i{
   background-color: #f4f4f4;
   padding: 1.8rem;
   border-radius: 60%;
   margin-bottom: 1rem;
}

.items .item p{
    color: #f4f4f4;
}

/* About me  */

#about-me{
    display: flex;
 
}

#about-me div{
    flex: 1;
}

#about-me .about-img{
    background: url('../img/code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}